*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin: 0;
    height: 1700px;
    background-color: bisque;
}
.navbar{
    height: 68px;
    background-color: #00162b;
    margin: 0;
}
.col-1{
   
}

.menupill{
    width: 384px;
    height: 38px;
    border: solid #fff 2px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    
}
.sign-in{
    margin-left: 50px;
}
.cards{
    display: flex;
    justify-content:space-around;
    
}
.card .card-img-top:hover{
    transform: scale(1.04);
    transition-duration: 500ms;
    
    

}
.btn-outline-light1 {
    
    --bs-btn-color: #f8f9fa;
    --bs-btn-hover-color: #e9ecef;
    --bs-btn-hover-bg: #36424ed5;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}